body{
    width: 100%;
    margin:0;
   
}

.header{
background-color: teal;
width: 100%;
padding-top: 9px;
padding-bottom: 5px
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.battleTitle{
    text-align: center;
    background-color: teal;
}

.ships{
    margin-left: 30%;
    margin-bottom: -5%;
}

.user{
    margin-left: 23%;
    margin-bottom: 2%;
}

.gridTable, td, th{
    margin-right: 20px;
    padding: 15px;
    border-collapse: collapse
}

.gridTable td{
    width: 15px;
    height: 15px;
}

.cells{
    border: 1px solid black;
    background-color: aquamarine;
}

.ship-location {
    background: blue;
}
.missed-location {
    background: grey;
}
.hit-location {
    background: red;
}