<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="game.css">
    <title>Battleship</title>
</head>

<body>

    <div id="gridApp">
<div class="header">
        <h1 class="battleTitle">BATTLESHIP</h1>
    </div>
        <div class="grid-container">

            <div>
                <h3 class="ships"> SHIP GRID </h3>
                    <br>
                    <br>
                   <p class="user"> 
                       Current Player: {{currentPlayer.userName}}
                </p>
                <table class="gridTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th v-for="number in numbers">
                                {{number}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="letter in letters">
                            <td>
                                {{letter}}
                            </td>
                            <td class="cells" v-for="number in numbers" :id="'U'+letter+number"
                                :class="addCell(letter+number)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                 <h3 class="ships">SALVO GRID</h3>
                    <br>
                    <br>
                    <p class="user" v-if="enemyPlayer.length > 0">
                         VS. {{enemyPlayer[0].players.userName}}
                </p>
                <table class="gridTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th v-for="number in numbers">
                                {{number}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="letter in letters">
                            <td>
                                {{letter}}
                            </td>
                            <td class="cells" v-for="number in numbers" :id="'E'+letter+number"
                            :class="addEnemyCell(letter+number)" >
                            
                             
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="game.js"></script>

</html>